<div id="scroller">
      <div class="carousel-nav">
		    <a class="prev">&laquo;</a>
		    <a class="next">&raquo;</a>
	    </div>
	{{#each Posts}}
		<a class="item" href="/single/{{this.id}}"><h3><i class="fas fa-user"></i>{{this.name}}</h3><img class="slide-image" src="{{this.picture}}"/></a>
	{{/each}}
