{{> navbar}}

{{!-- middle content with carousel and post button --}}
  <div id="content" class="container">
    <h1 class="text-center">Your Posts</h1>
  </div>

{{!-- post button --}}
    <div class="post-button-container">
      <a href="/postblock" class="btn">
          <span class="btn-content">Post<span>
          <span class="icon"><i class="fas fa-file-import fa-2x" aria-hidden="true"></i></span>
      </a>
    </div>
