{{> navbar}}

{{!-- middle content with carousel and post button --}}
  <div id="content" class="container">
    <!-- carousel -->
    {{#if display}}
    {{> displayBlock post=Posts}}
    {{else}}
    {{> postBlock}}
    {{/if}}
  </div>

{{!-- post button --}}
  <a class="btn btn-primary" href="/postBlock" role="button">POST</a>

  <h3>Examples:</h3>
  <ul id="example-list" class="list-group">
    {{#each examples}}
    <li data-id="{{this.id}}" class="list-group-item">
      <a href="example/{{this.id}}">{{this.text}}</a>
      <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
  </ul>

{{!-- footer --}}
  <footer class="navbar navbar-light">
    <div class="text-center">
      <h3>Copyright &copy;</h3>
    </div>
  </footer>
