<div id="home">

  {{> navbar }}

 {{!-- top content with carousel and post button --}}
  <div id="content" class="container">
      {{#if display}}
        {{> displayBlock}}
      {{else}}
        {{> postBlock}}
      {{/if}}
  </div>

  {{!-- post button --}}
  <div class="post-button-container">
    <a class="btn btn-primary" href="/postblock" role="button">POST</a>
  </div>

  {{!-- footer --}}
  <footer class="navbar navbar-light fixed-bottom">
    <div class="text-center">
      <h3>Copyright &copy;</h3>
    </div>
  </footer>
