<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Buy Ally</h2>
        <h4>Shop. Find. Share.</h4>
        <h4>Use Buy Ally to post and review any product! For every product you review, you get a coupon! Have fun <i class="fas fa-smile-wink"></i></h4>
        <form class="was-validated clearfix mb-4" action="POST">
          {{!-- Search box --}}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Search</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          {{!-- user product input --}}
          <div class="mb-3">
            <label for="validationTextarea">What project do you want to post a review about?</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Enter product here" required></textarea>
            <div class="invalid-feedback">
              Please enter a message in the textarea.
            </div>
          </div>
          {{!-- select which departmen --}}
          <div class="form-group">
            <select class="custom-select" required>
              <option value="">Which department?</option>
              <option value="1">Men's</option>
              <option value="2">Women's</option>
              <option value="3">Children</option>
            </select>
            <div class="invalid-feedback">Must select an option</div>
          </div>
          {{!-- optional photo upload --}}
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <div class="invalid-feedback">Must select an upload</div>
          </div>
          {{!-- submit button for posting --}}
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        {{!-- <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Shop. Find. Share.</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Use Buy Ally to post and review any product! For every product you review, you get a coupon! Have fun <i class="fas fa-smile-wink"></i></label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form> --}}
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
