<form class="border border-light p-5">

    <p class="h4 mb-4 text-center">Register</p>
    <form class="signup">
        <div class="row">
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <input type="text" id="username" name="username" class="form-control">
                    <label for="username" class="">Username</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password" class="">Passowrd</label>
                </div>
            </div>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>
    </form>
</form>