{{> navbar }}

<div id="aboutTop" class="aboutUs card container">
  <h1>About</h1>
  <ul>
    {{!-- What is good about the website? --}}
    <li>Buy Ally is a website application for users to browse, shop and review their products! Take any article of clothing
      and post a review about it! Inlcude all of your thoughts on your item and share it with others!</li>

    <li>Ask yourself questions like: What were your thoughts when you bought it? What inspired you when you were getting this
      item? Fashion designers! We call on you! Post up your designs! Talk about how you made your product and display it's
      uniqueness to the world! This can be another platform for you to showcase your portfolio.</li>
    {{!-- What is bad about the website? (i.e. old colour schemes, out-dated design) --}}
    <li>We have many ideas on improvement for our site and we hope to make it something that people of all ages can enjoy. We
      want to make sure that each user can take some good, honest advice from others and use it to their advantage!</li>
    {{!-- How long ago was it built? and who built it? --}}
    <li>The applications first official draft was presented on June 13, 2019 in front of an awesome coding bootcamp class at
      Rutgers University while eating some well deserved pizza. We can only go up from here! Hope you like what we come up
      with.</li>
  </ul>
  {{!-- Which countries are your visitors from? --}}
  {{!-- Who is responsible for updating the site? --}}
</div>

<div class="contact card container">
  <h1>Contact Us on: <a href="https://github.com/michjmend/PROJECT2.git">Git Hub <i class="fab fa-github"></i></a></h1>
</div>

<div class="authors card container">
  <h1>Authors</h1>
  <ul>
    <li>Andrew Tirpok</li>
    <li>Michael Kang</li>
    <li>Kristen De La Rosa</li>
    <li>Sushmita Yande</li>
    <li>Michelle Mendieta</li>
  </ul>
</div>

{{> footer }}
