<header class="fixed-top">


                {{!-- logo and app icon --}}

                    <a class="navbar-brand" href="/">
                        <img id="buyAllybrand" class="ml-auto" src="../img/BuyAllyLogo.png" width="220" height="90">
                    </a>

            </div>
    </nav>
</header>

<div id="signupcontent"   class="container card">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
        <h2 class="h2 mb-4 text-center"><i class="fas fa-user-plus"></i> Create a New Account</h2>
      <form class="signup">
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="username" name="username" class="form-control">
              <label for="username" class=""><i class="far fa-envelope"></i> Username</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="password" id="password" name="password" class="form-control"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required>
              <label for="password" class=""><i class="fas fa-lock"></i> Password</label>
            </div>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </div>
        <button id="signupbtn" class="btn btn-block my-4" type="submit">Sign Up <i class="fas fa-sign-in-alt"></i></button>
      </form>

      <p>Already have an account? Login <a href="/login">here</a></p>

      <div id="message">
        <h4 class="text-center"><u>Password must contain the following:</u></h4>
        <ul>
        <li id="letter" class="invalid">A <b>lowercase</b> letter</li>
        <li id="capital" class="invalid">A <b>capital (uppercase)</b> letter</li>
        <li id="number" class="invalid">A <b>number</b></li>
        <li id="length" class="invalid">Minimum <b>8 characters</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>
