<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <a href="/">
        <h2 class="h2 mb-4 text-center">Register</h2>
      </a>
      <form class="signup">
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="username" name="username" class="form-control">
              <label for="username" class="">Username</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="password" id="password" name="password" class="form-control"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required>
              <label for="password" class="">Passowrd</label>
            </div>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>
      </form>

      <p>Or Log in <a href="/login">here</a></p>

      <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div>
    </div>
  </div>
</div>