 body{
   max-height:200px;
 }

#backgroundImage img {
  padding-top:110px;
  position: absolute;
  left: 0;
    top: 0;
    width: 100%;
  height: auto;
  opacity: 0.6;
}

.search{
  margin-right: 500px;
  text-align: center;
  width: 500px;
  min-height: 20px;
  margin-top: 0;
}
.list-group-item {
  line-height: 2.5;
}
/*
.form-inline{
  position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color:#007876;
} */


/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:#f08863ce; /* change background opacity and color to match scheme =============================================  */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:#f08863;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  /* border-style: solid; */
  border-color: #f08863;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.closeBtn {
  color: #0078765f;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* end sidebar menu */


#content {
  margin-top: 150px;
}

/* #searchBtn{
  background-color:#0078765f;
  color: white;

} */

/* #postBtn{
  background-color:#f08863;
  color: white;
} */

/* .btn{
  width: 100px;
  /* color: #007876; */

.navbar-brand{
  font-family: 'Architects Daughter', cursive;
  font-size: 35px;

}

.navbar{
  height:110px;
  background-color:#006296;
}

.sign-in{
  padding:0px;
  margin-right:0;
  color:#f08863

}
/* #signInBtn{
  color:#007876;
  min-height: 40px;
  border-radius: 4px;
  min-width: 40px;
  font-size: 30px;
}

#creatIdBtn{
  color:#f08963;
  min-height: 40px;
  border-radius: 4px;
  min-width: 40px;
  font-size: 30px;
} */

#buyAllybrand{
  font-size:40px;
}

.footer{
  background-color:#006296;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);
@font-face {
  font-family: 'codropsicons';
  src: url('../fonts/codropsicons/codropsicons.eot');
  src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/codropsicons/codropsicons.woff') format('woff'),
  url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
  url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.form-inline>header,
.codrops-top {
  font-family: 'Lato', Arial, sans-serif;
}

.form-inline>header {
  margin: 0 auto;
  /* padding: 2em; */
  text-align: center;
  color: #fcfaf7;
}

.form-inline>header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.form-inline>header span {
  display: block;
  font-size: 60%;
  color: #fcfaf7;
  padding: 0 0 0.6em 0.1em;
}

/* .color-9 {background-color:;
  background:#006296 ;
} */
/* Effect 9: second text and borders */
.cl-effect-9 a {
	margin: 0 20px;
  /* padding: 18px 20px; */
  float: left;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
  opacity: 0.2;
  text-align:center;
	-webkit-transition: opacity 0.3s, height 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s;
	transition: opacity 0.3s, height 0.3s;
}

.cl-effect-9 a::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-9 a span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
}

.cl-effect-9 a span:last-child {
	z-index: 1;
	display: block;
	padding: 8px 0 0 0;
	color: rgba(255, 253, 253, 0.461);
	text-shadow: none;
	text-transform: none;
	font-style: italic;
	font-size: 0.75em;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
	height: 6px;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
  transform: translateY(0px);
  text-decoration: overline
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
  transform: translateY(0%);
  text-decoration: overline
}

/* search button */
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* .container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
} */
.btn-6{
  /* display: inline-block; */
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  /* margin: 20px 30px; */
  background: rgba(0,0,0,0.09);
}
/* span{
  display: block;
  padding: 25px 80px;
} */
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 6 -----*/
.btn-6::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btn-6::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-6 span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6 span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6:hover::before, .btn-6:hover::after{
  left: 0;
}
.btn-6:hover span::before, .btn-6:hover span::after{
  top: 0;
}
